* {
    box-sizing: border-box;
}

body {
    background: url('images/Ni.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
  
    
}

.controller{
  position: relative;
  background:  url(images/NES-Controller_Nintendo_Clipart_by_DG-RA.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 700px;
  
}
main {
  padding-top: 100px;
}

header {
    width: 100%;
    background-color: black;
}

span{
  display: block;
}

ul{
  padding-left: 25px;
    padding-bottom: 25px;
}

li {
    font-size: 20px;
    color: white;
    list-style-type: none;
}

div.container{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #eebd66;
  width: 45%;
  height: 60%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  color: #522032;
}

h1, p, .question-text{
  text-align: center;
}

button{
  margin: 5px;
  border-radius: 8px;
  position: absolute;
  top: 111%;
  right: 35%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: rgb(29, 28, 28);
  color: white;
  min-width: 50px;
}

input {
  margin-left: 5px;
}