* {
    box-sizing: border-box;
}

body {
    background:  url('https://i.imgur.com/WtGQqVW.png'), fixed;
}

header {
    width: 100%;
    background-color: black;
}

.status {
    /* banner for score keeper and question counter */
   
}

li {
    padding-left: 25px;
    font-size: 20px;
    color: white;
    list-style-type: none;
}

.quiz {

}
.intro {
    background-color:gray;
}


.start {

}

.feedback {

}

.end {

}

.startButton{

}

#nextQuestion {


}

h1 {

}

input {


}